<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>KrunosPad</title>
    <script>
        document.title = window.location.pathname.replace('/', '') + ' | KPad';
    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center my-2">
            <div>
                <button class="btn btn-secondary" id="setPasswordButton">Set Password</button>
                <label for="fontSizeSelect">Font Size:</label>
                <select id="fontSizeSelect">
                    <option value="16px">Small</option>
                    <option value="22px" selected>Medium</option>
                    <option value="28px">Large</option>
                </select>
            </div>
            <div>
                <span>Last Updated: <span id="lastUpdated"><%= new Date(lastUpdated).toLocaleString() %></span></span>
            </div>
        </div>
        <textarea id="input-area" cols="30" rows="10"><%= content %></textarea>
    </div>
</body>
<style>
    body {
        margin: 0;
        padding: 0;
    }
    textarea {
        width: 100%;
        height: calc(100vh - 70px);
        margin: 0;
        padding: 0;
        font-size: 22px;
    }
</style>
</html>
