<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/main.js" defer></script>
    <title>Enter Password</title>
</head>
<body>
    <div class="container">
        <h1>Enter Password</h1>
        <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <form id="passwordForm">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Access Pad</button>
        </form>
    </div>
</body>
</html>
